#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: #354A60
}

* {
    box-sizing: border-box;
}

/* smooth animation for scrolling when Alan AI reads the information on the screen */
html {
    scroll-behavior: smooth;
}

